@font-face {
    font-family: 'ICTV';
    src: url('ICTV-Thin.woff2') format('woff2'),
        url('ICTV-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ICTV';
    src: url('ICTV-Regular.woff2') format('woff2'),
        url('ICTV-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

